searchForm=searchForm&searchForm%3AnewExamineeButton=New+Examinee&searchForm%3AassessmentListModalWindowOpenedState=&hidden-field-for-shift-select=&searchForm%3AageRangeWarningMessageOpenedState=&searchForm%3AageRangeRequiredWarningMessageOpenedState=&searchForm%3AtestingPeriodWarningMessageOpenedState=&javax.faces.ViewState=$$JSF_VIEW_STATE$$