login=login&login%3Auname=$$LOGIN_USER$$&login%3Apword=$$LOGIN_PASSWORD$$&login%3AupdateRemember=false&login%3AupdateLanguageCode=en_us-us*2000&login%3AsignIn=Sign+In&login%3AuserAgentMobile=false&javax.faces.ViewState=$$JSF_VIEW_STATE$$&login%3AlanguageCountry=2000&login%3AlanguageId=en_us-us*2000&login%3AsignInButton=Sign+In