AJAXREQUEST=_viewRoot&searchForm=searchForm&searchForm%3AassessmentListModalWindowOpenedState=&hidden-field-for-shift-select=&searchForm%3AageRangeWarningMessageOpenedState=&searchForm%3AageRangeRequiredWarningMessageOpenedState=&searchForm%3AtestingPeriodWarningMessageOpenedState=&javax.faces.ViewState=$$JSF_VIEW_STATE$$&currentViewParam=$$EXAMINEE_SYSTEM_ID$$&searchForm%3AsetCurrentViewJS=searchForm%3AsetCurrentViewJS&AJAX%3AEVENTS_COUNT=1