AJAXREQUEST=_viewRoot&examAssessTabFormId=examAssessTabFormId&examAssessTabFormId%3AassessmentListModalWindowOpenedState=&examAssessTabFormId%3AscoringUnavailableModalOpenedState=&examAssessTabFormId%3AassessmentReportModalOpenedState=&examAssessTabFormId%3AwarnSavedInterventionWorkOpenedState=&examAssessTabFormId%3AageRangeWarningMessageOpenedState=&examAssessTabFormId%3AageRangeRequiredWarningMessageOpenedState=&examAssessTabFormId%3AtestingPeriodWarningMessageOpenedState=&javax.faces.ViewState=$$JSF_VIEW_STATE$$&examAssessTabFormId%3Aadd_assessment=examAssessTabFormId%3Aadd_assessment&AJAX%3AEVENTS_COUNT=1