AJAXREQUEST=_viewRoot&j_id$$SECURE_BROWSER_JS$$=j_id$$SECURE_BROWSER_JS$$&javax.faces.ViewState=$$JSF_VIEW_STATE$$&param1=others&j_id$$SECURE_BROWSER_JS$$%3AisSecureBrowserJS=j_id$$SECURE_BROWSER_JS$$%3AisSecureBrowserJS